@import "variables.scss";

  nav a{
      text-decoration: none;
      color: #ebebeb;
      background-color: #232323;
      padding-block: 5px;
      padding-inline: 4vw;
      font-size: 20px;
  }
  
  header {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      width: 100vw;

      .menu {
        display: none;
        font-size: 5rem;
        margin: 3rem;
      }

      & .logo {
        width: 100px;
        margin-right:auto;
      }

      & .nav {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        right:0;
        z-index: 1;
        max-width: 70vw;
        &__pink {
            background-color: #ff66c4;
          }
    }   
  }
  

  @media (max-width: $medium-screen) {
     .nav a {
      padding-inline: 3vw;
     }
  }

  @media (max-width: $small-screen) {
    header {
      .nav {
      display: none;
      }
      .menu {
      display: block;
      }
      .logo {
       width: 180px;
      }
    }
  }
 