@import "variables.scss";

.process {
    background-color: #232323;
    height: 340px;
    &__content {
        display: flex;
        margin-top: 30px;
        padding-top: 80px;
        justify-content: center;
        &__text {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding-inline: 50px;

            h3 {
                color: #ff66c4;
                font-size: 25px;
              }
            
            p {
                color: white;
              }
          }
      }
  }

  @media (max-width: $medium-screen) {
    .process {
        height: 60vh;
        &__content {
            flex-wrap: wrap;
            gap: 15%;
            &__text {
                padding-inline: 40px;
                line-height: 1.5rem;
            }
        }
    }
  }

  @media (max-width: $small-screen) {
    .process {
        min-height: 100vh;
        &__content {
            flex-wrap: wrap;
            gap: 3%;
            &__text {
                padding-inline: 40px;
                line-height: 1.5rem;
            }
        }
    }
    
  }