@import "variables.scss";

.social {
    background-color: #232323;
    color: #ebebeb;
    font-size: 25px;
    text-align: center;
    padding-top: 50px;
    height: 400px;
    & .icons {
        display: flex;
        justify-content: center;
        & i {
            font-size: 100px;
            margin-inline: 100px;
            margin-top: 40px;
          }
          
      }
  }
  
  @media (max-width: $small-screen) {
    .social {
        & .icons {
            & i {
                font-size: 4rem;
                margin-inline: 3rem;
                margin-top: 40px;
              }
          }
      }
  }